*{
    margin: 0;
    padding: 0;
}
/* header start */
.header{
    background-color:#2e8ccf;
    text-align: left;
    padding:1rem;
    line-height:100%;
    align-items: center;
    color: #fff6f6;
}
/* header  end */

/*  introduction start */


/*  introduction end */
/*  skills start */
/*  skills end */
/*   education start */
/*  education end */

/*   contact start */

/*   contact end */

/*  social start */
.social-menu ul {
    position: absolute;
    top:90rem;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
    align-items:center;
    
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa{
    color: #fff6f6;
    font-size: 18px;
    line-height: 50px;
    transition: .5s;
    
}
.social-menu ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
    background-color: #2e8ccf;
    transform: translate(0,0px);
    
}


/*  social end */



